.textWhite {
  color:#ffffff;
}

.bcGrey {
  background-color:#cecece;
}

.btn-GreyOlive {
  background-color: #9f9c7e;
}

.btn-textGreyOlive {
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .btn-textGreyOlive:hover, .btn-textGreyOlive:focus, .btn-textGreyOlive:active {
    color: #9f9c7e;
    text-decoration: underline;
  }

.btn-textBianca {
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .btn-textBianca:hover, .btn-textBianca:focus, .btn-textBianca:focus {
    color: #f7f2e2;
    text-decoration: underline;
  }

.btn-iconBianca {
  color: #343a40;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .btn-iconBianca:hover, .btn-iconBianca:focus, .btn-iconBianca:focus {
    color: #f7f2e2;
  }

.btn-iconGreyOlive {
  color: #343a40;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .btn-iconGreyOlive:hover, .btn-iconGreyOlive:focus, .btn-iconGreyOlive:active {
    color: #9f9c7e;}

.frameTextBold {
  width: 6em;
  border: 5px solid black;
}

.frameTextBoldBig {
  width: 8em;
  border: 5px solid black;
}

.frameTextSlim {
  width: 5em;
  border: 2px solid black;
}

.frameTextSlimSmall {
  width: 4em;
  border: 2px solid black;
}

.frameTextSlimBig {
  width: 8em;
  border: 2px solid black;
}
